@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-bgCard: rgba(242 242 242/0.05);
  --color-main: #00b6b6;
  --color-shopsy: #ffd230;
  --color-dash: #0879ec;
  --color-world: #2196f3;
}

.colorrr {
  /* background: hsla(220, 60%, 20%, 1); */

  /* background: linear-gradient(
    135deg,
    hsla(220, 60%, 20%, 1) 0%,
    rgb(34, 65, 101) 100%
  ); */

  background: linear-gradient(
    135deg,
    hsla(220, 60%, 20%, 1) 0%,
    hsla(211, 47%, 29%, 1) 25%,
    hsla(191, 85%, 31%, 1) 65%,
    hsla(191, 100%, 40%, 1) 100%
  );
}

.card {
  box-shadow: -20px 0px 150px 40px #00ceff;
}

.animate-breathe {
  animation: breathe 6.5s ease-in-out infinite;
}
@keyframes breathe {
  0% {
    box-shadow: 0 0 20px rgba(0, 206, 255, 0.4);
  }
  50% {
    box-shadow: 0 0 100px rgba(0, 206, 255, 0.9);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 206, 255, 0.4);
  }
}
